<h3 style=" text-align: center;">Help Center</h3>

<p>Thanks for using <a href="https://github.com/BestBonBai/COMP-354/tree/quillEditor/A2">Our Smart Text Editor</a>!</p>
<p>Here is some instructions:</p>
<p></p>
