<div class="title">
    <h4>Edits Menu</h4>
</div>
<table class="table" id="ungrouped">
    <thead>
        <tr>
            <th class="title" scope="col">Ungrouped Edits</th>
        </tr>
    </thead>
    <tbody id="ungrouped-table-body">
    </tbody>
    <thead>
        <tr>
            <th class="title" scope="col">Grouped Edits</th>
        </tr>
    </thead>
    <tbody id="grouped-table-body">
    </tbody>
</table>
<button id="performEdits" class="btn btn-primary" onclick="performEdits()">Perform Edit(s)</button>
<button id="deleteEdits" class="btn btn-primary" onclick="deleteEdits()">Delete Edit(s)</button>
