<div class="title">
    <h4>Edits Menu</h4>
</div>
<table class="table" id="editsMenu">
    <thead>
        <tr>
            <th class="title" scope="col">Ungrouped Edits</th>
        </tr>
    </thead>
    <tbody id="ungrouped-table-body">
    </tbody>
    <thead>
        <tr>
            <th class="title" scope="col">Grouped Edits</th>
        </tr>
    </thead>
    <tbody id="grouped-table-body">
    </tbody>
</table>
<div class="action-btn">
    <button id="performEdits" class="btn btn-primary" onclick="editsMenu.performEdits()">Undo Edit(s)</button>
    <button id="deleteEdits" class="btn btn-primary" onclick="editsMenu.deleteEdits()">Delete Edit(s)</button>
</div>

