<div class="title">
    <h4>Edits Menu</h4>
</div>
<table class="table" id="ungrouped">
    <thead>
        <tr>
            <th class="title" scope="col">Ungrouped Edits</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit 1</h5>
                        <p class="card-text">Old: lorem ipsum dolore</p>
                        <p class="card-text">New: this is English</p>
                        <a href="#" class="btn btn-primary">Select</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit 2</h5>
                        <p class="card-text">Old: lorem ipsum dolore</p>
                        <p class="card-text">New: this is English</p>
                        <a href="#" class="btn btn-primary">Select</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit 3</h5>
                        <p class="card-text">Old: lorem ipsum dolore</p>
                        <p class="card-text">New: this is English</p>
                        <a href="#" class="btn btn-primary">Select</a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
