<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"></a>
</nav>
<nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 mr-md-5 h1">Smart Undo Editor</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown mr-md-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              File
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Open</a>
              <a class="dropdown-item" href="#">Save</a>
          </li>
        <li class="nav-item dropdown mr-md-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Undo
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Undo by group</a>
            <a class="dropdown-item" href="#">Undo by timing</a>
            <a class="dropdown-item" href="#">Undo different edits of different groups</a>
        </li>
        <li class="nav-item mr-md-3">
            <a class="nav-link" href="#">Redo</a>
        </li>
        <li class="nav-item mr-md-3">
            <a class="nav-link" href="#">Select specific edits</a>
        </li>
        <li class="nav-item dropdown mr-md-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Delete
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Delete arbitrary list</a>
              <a class="dropdown-item" href="#">Delete a complete group of edits</a>
              <a class="dropdown-item" href="#">Delete all edits</a>
        </li>
      </ul>
    </div>
  </nav>