<div id="content-container">

    <div id="toolbar-container">
        <select class="ql-size" data-toggle="tooltip" data-placement="top" title="Change font size">
            <!-- Add font size dropdown -->
            <option value="small"></option>
            <option value="normal" selected></option>
            <option value="large"></option>
            <option value="huge"></option>
        </select>
        <select class="ql-font" data-toggle="tooltip" data-placement="top" title="Change font">
            <!-- Add font dropdown -->
            <option value="sans"></option>
            <option value="serif" selected></option>
            <option value="monospace"></option>
            
        </select>
        <button class="ql-bold" data-toggle="tooltip" data-placement="top" title="Bold"></button>
        <button class="ql-italic" data-toggle="tooltip" data-placement="top" title="Add italic text"></button>
        <button class="ql-underline" data-toggle="tooltip" data-placement="top" title="Underline"></button>
        <button class="ql-strike" data-toggle="tooltip" data-placement="top" title="StrikeThrough"></button>
        <button class="ql-blockquote" data-toggle="tooltip" data-placement="top" title="Blockquote"></button>
        <button class="ql-code-block" data-toggle="tooltip" data-placement="top" title="Code Block"></button>
        <button class="ql-list" value="ordered" data-toggle="tooltip" data-placement="top" title="Order List"></button>
        <button class="ql-list" value="bullet" data-toggle="tooltip" data-placement="top" title="Bullet List"></button>
        <button class="ql-color" value="red" data-toggle="tooltip" data-placement="top" title="Change Color"></button>
        <button class="ql-background" value="blue" data-toggle="tooltip" data-placement="top" title="Change Background"></button>
    
    </div>
    
    <div id="editor-container"></div>

    <!-- Add counter DIV -->
    <div id="counter"></div>

    <!-- Add group display DIV -->
    <div id="showgroup"></div>

</div>

