<nav id="sidebar" class="active">
	<h1><a href="/" class="logo">T6</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/"><span class="fa fa-home"></span> Home</a>
          </li>
          <li>
              <a href="/about"><span class="fa fa-user"></span> About</a>
          </li>
          <li>
              <a href="/"><span class="fa fa-file-o"></span> New File</a>
          </li>
          <li>
            <a href="#undoSubmenu" data-toggle="collapse" aria-expanded="false">
                <span class="fa fa fa-undo"></span> 
                Undo      
                <span class="	fa fa-angle-double-down"></span>       
            </a>
            <ul class="collapse list-unstyled" id="undoSubmenu">
                <li><a href="javascript:void(0);" id="undoByGroup_click" >Undo By Group</a></li>
                <li><a href="javascript:void(0);" id="undoByTime_click">Undo By Timing</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);" id="redo_click"><span class="fa fa-rotate-right"></span> Redo</a>
          </li>
          <li>
            <form id="form_save">
              <input type="text" name="download_input" id="download_input" style="display: none;" >
              <a href="javascript:void(0);" id="save_click">
              <span class="fa fa-floppy-o"></span> Save</a>
            </form>
          </li>
          <li>
            <form id="form_download">
              <a href="javascript:void(0);" id="download_click">
              <span class="fa fa-arrow-circle-o-down"></span>Download</a>              
            </form>
          </li>
          <li>
            <a href="javascript:void(0);" onclick="click_setting();"><span class="fa fa-cog"></span> Settings</a>
          </li>
          <li>
            <a href="javascript:void(0);" onclick="click_help();"><span class="fa fa-wheelchair"></span> Help</a>
          </li>
        </ul>

        <div class="footer">
        	<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> </p>
          <p>Team 6 all members</p>
        </div>
</nav>