.navbar {
    padding: 15px 10px;
    background: #1e56a0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(110, 57, 57, 0.1);
}

.navbar-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    border: none;
    background-color: #7610d4;
}

.nav-link,
.nav-item {
    color: #d6e4f0 !important;
}

body.night .nav-link,
body.night .nav-item {
    color: rgba(236, 157, 67, 0.5) !important;
}

.navbar ul li a {
    padding: 10px 30px;
    display: block;
    color: white;
    border-bottom: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    width: 100%;
}

#sidebar {
    min-width: 270px;
    max-width: 270px;
    background: rgb(104, 125, 216);
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active ul.components li {
    font-size: 14px;
}

#sidebar.active ul.components li a {
    padding: 10px 0;
}

#sidebar.active ul.components li a span {
    margin-right: 0;
    display: block;
    font-size: 24px;
}

#sidebar.active .logo {
    padding: 10px 0;
}

#sidebar.active .footer {
    display: none;
}

.brand {
    display: block;
    color: #d6e4f0;
    font-weight: 700;
    font-size: 28px;
    padding: 0px 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .logo {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar ul.components {
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar ul.components {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar ul li {
    font-size: 15px;
}

#sidebar ul li>ul {
    margin-left: 10px;
}

#sidebar ul li>ul li {
    font-size: 14px;
}

#sidebar ul li a {
    padding: 10px 30px;
    display: block;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a span {
    margin-right: 15px;
}

@media (max-width: 991.98px) {
    #sidebar ul li a span {
        display: block;
    }
}

#sidebar ul li a:hover {
    color: rgb(64, 13, 126);
}

#sidebar ul li.active>a {
    background: transparent;
    color: rgb(131, 53, 2);
}

@media (max-width: 991.98px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}

.footer {
    padding: 0 30px;
}

@media (max-width: 991.98px) {
    .footer {
        display: none;
    }
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn.btn-primary {
    background: #1e56a0;
    border-color: #1e56a0;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background: #1e56a0 !important;
    border-color: #1e56a0 !important;
}


/* some switch button */

input,
select {
    vertical-align: middle;
}

.mui-switch {
    width: 52px;
    height: 31px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #dfdfdf;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
}

.mui-switch:before {
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch:checked {
    border-color: #d6e4f0;
    box-shadow: #d6e4f0 0 0 0 16px inset;
    background-color: #d6e4f0;
}

.mui-switch:checked:before {
    left: 21px;
}

.mui-switch.mui-switch-anim {
    transition: background-color ease 0.4s;
}

.mui-switch.mui-switch-anim:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-anim:checked {
    box-shadow: #dfdfdf 0 0 0 0 inset;
    background-color: #d6e4f0;
    transition: border-color 0.4s, background-color ease 0.4s;
}

.mui-switch.mui-switch-anim:checked:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch.mui-switch-anim:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-anim:checked {
    box-shadow: #d6e4f0 0 0 0 16px inset;
    background-color: #d6e4f0;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.mui-switch.mui-switch-anim:checked:before {
    transition: left 0.3s;
}


/* new design buttons */

button {
    border: 1px solid white;
    background: transparent;
    text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    outline: none;
    overflow: hidden;
    position: relative;
}

span {
    z-index: 10;
}

button:after {
    content: '';
    display: block;
    position: absolute;
    top: -36px;
    left: -100px;
    background: white;
    width: 50px;
    height: 125px;
    opacity: 20%;
    transform: rotate(-45deg);
}

button:hover:after {
    left: 120%;
    transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
    -webkit-transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
}


/* night model */

body.night,
body.night #body,
body.night #editsMenu,
body.night #editor,
body.night .row,
body.night .table,
body.night div.card div.card-body,
body.night .page_navi a.current {
    background-color: #263238!important;
    color: #e2dfdf!important;
}

body.night #sidebar,
body.night .next-page a {
    background-color: #324047;
    color: #888282;
}

body.night #file-btn,
body.night #speakText-btn,
body.night #preview-btn,
body.night #undoByTime_click,
body.night #undoByGroup_click,
body.night #redo_click,
body.night #sidebarCollapse {
    background-color: #52915fe5;
    color: #333135;
}

body.night .navbar,
body.night .mui-switch,
body.night button,
body.night .btn {
    background-color: #324047;
    color: #888282;
}

body.night #navbarSupportedContent a,
body.night #content .post p a,
body.night .floor {
    color: #eebf9f;
}

body.night .btn.btn-primary:hover {
    background: #e64b03;
    border-color: #56c90a;
}

body.night .btn.btn-primary:focus,
body.night .btn.btn-primary:focus::after {
    background: #d36205;
    border-color: #0c0c0c;
}

body.night #sidebar ul li a:hover {
    color: rgb(39, 138, 168);
}

body.night #sidebar .logo {
    color: rgb(87, 91, 119);
}

body.night #content-preview {
    background: rgba(216, 217, 219, 0.5);
}


/* Preview Model */

body.preview #content-settings,
#content-help {
    display: none;
}

body.preview #content-container {
    width: 50%;
    display: inline;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

body.preview #content-preview {
    width: 50%;
    display: inline;
    float: left;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid #cceff5;
    overflow: scroll;
    text-align: left;
}

body.preview #content-preview p img {
    width: 400px;
}


/* Settings Model */

body.settings #content-preview,
#content-help {
    display: none;
}

body.settings #content-container {
    width: 60%;
    display: inline;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

body.settings #content-settings {
    width: 40%;
    display: inline;
    float: left;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid #0a9cf0;
    text-align: left;
    overflow: scroll;
}

body.settings #content-settings p img {
    width: 400px;
}


/* Help Model */

body.help #content-preview,
#content-settings {
    display: none;
}

body.help #content-container {
    width: 60%;
    display: inline;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

body.help #content-help {
    width: 40%;
    display: inline;
    float: left;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid #0a9cf0;
    text-align: left;
    overflow: scroll;
}

body.help #content-help p img {
    width: 400px;
}

#preview-content img {
    object-fit: fill;
}


/* fa fa-adjust */

span.fa-adjust,
span.fa-tachometer {
    color: #000;
}

body.night span.fa-adjust,
body.night span.fa-tachometer {
    color: rgb(131, 53, 2);
}


/* body colorful model */

body.color,
body.color #body,
body.color #content {
    background-color: rgb(87, 91, 119);
}

#content-container {
    width: auto;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-right: 10px;
}

#editor-container {
    height: 450px;
}

#content-preview,
#content-settings,
#content-help {
    display: none;
}


/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Style page content */

.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#editsMenu,
#editor {
    width: 100%;
    height: 85vh;
    background-color: #f6f6f6;
}

#editor {
    margin-top: 10px;
}

#editsMenu {
    overflow-y: scroll;
}

.title {
    padding-top: 5px;
    margin: 0 auto;
    text-align: center;
}

.row {
    background-color: #f6f6f6;
    border-top-style: solid;
    border-top-color: #163172;
    border-top-width: 7px;
}

#deleteEdits,
#performEdits {
    display: none;
}